* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #E8E1CF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App h1 {
  font-size: 48px;
  color: #003855;
  margin-bottom: 20px;
}

.App p {
  font-size: 24px;
  color: #5C3838;
}
